.footer.head {
  margin-top: 9rem;
}

.footer.first {
  display: flex;
  justify-content: space-between;
  color: var(--h2);
  border-bottom: var(--h2) 0.5px solid;
}

.logo.name {
  width: 5rem;
  color: var(--h2);
}

.footer.contactlink {
  display: flex;
}

.footer.contactlink div {
  margin: 20px 40px;
}

.footer.contactlink .follow {
  width: 9rem;
  margin: auto 0px;
  margin-left: 2rem;
  display: flex;
  justify-content: space-between;
}
.footer.contactlink.follow a {
  margin: 0px 20px;
}

.logo.name h3 {
  background: var(--h2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 1rem;
}
.logo.name h3 strong {
  width: 16px;

}

.footer.nav {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0rem;
}

.footer.nav .navo {
  width: 30rem;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 0px;
}
.footer.nav li a {
  text-decoration: none;
  color: var(--h2);
}
.footer.nav .copyright {
  color: var(--h2);
}

.footer.nav .copyright strong {
  background: linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: normal;
}
.king {
  height: 4rem;
}

@media (max-width: 768px) {
  .footer.first {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer.contactlink {
   
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
  }

  .footer.contactlink .follow {
  

   margin:auto;
  

  }

  .footer.nav .navo {
    display: none;
  }

  .footer.nav {
    margin-top: 4rem;
    justify-content: center;
  }
}
