.navbar {
  display: flex;
  flex-direction: row;
  background: var(--background);
  padding-top: 1rem;
}
.navbar .logo {
  padding-top: 0.5rem;
}
.navbar .button{
  display: block;
  margin-left: 70%;
}

h3 strong {
  font-size: 27px;
}
.navbar .logo h3 {
  background: linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar .links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0px;
  text-decoration: none;
  padding-left: 10%;
  
}

.navbar .links li :hover {
  background: linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar .links li {
  list-style-type: none;
  text-decoration: none;
  margin: 1rem 1.5rem;
  font-weight: bold;
  font-size: 20px;
}
.links li a {
  text-decoration: none;
  color: var(--icon-shade);
  white-space: nowrap;
}

.navbar .contact {
  display: flex;
  flex-direction: row;
  display: none;
}

.navbar .contact li {
  text-decoration: none;
  list-style-type: none;
}
.toggle-btn {
  width: 45px;
  height: 23px;
  background: var(--icon-shade);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  padding: 3px;
  position: relative;
  cursor: pointer;
  margin: 27px 0px;
}

.ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--background);
  position: absolute;
  top: 2px;
  left: 2px;
  transition: all 0.2s linear;
}
.move {
  transform: translateX(22px);
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .navbar .links {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0rem 0rem;
    height: 100vh;
    overflow: hidden;
    top: 5rem;
    width: 0;
    z-index: 0;
    background: var(--background);
    transition: width 1s ease;
  }

  .links-open {
    display: flex;
    transition: width 2.5 ease;
  }
  .navbar .button {
   
  }
  .navbar .links li {
    text-align: center;
    width: 200px;
    margin: 0rem auto;
    margin: 2rem auto;
    /* min-height: 40px; */
  }

  .navbar .contact {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 36rem;
    text-align: center;
    width: 0;
    overflow: hidden;
    background: var(--background);
    transition: width 1s ease;
  }

  .navbar .contact li {
    width: 40px;
  }
  .buger {
    position: absolute;
    top: 40%;
    left: 87%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
  }

  .buger div {
    width: 2rem;
    height: 0.25rem;
    background: var(--icon-shade);
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
  }
}
