.Stack {
  width: 100%;
}
h2{
    text-align: center;
}

.frameworks {
    display: flex;
    justify-content: space-between;
    margin-top: 147px;
}
 .frameworks  img  {
    height:85px;
    
}

.frameworks.two{
    margin-top:74px ;
}

 .sass , .tail{
    
    width:80px;
}

.postman , .github{

}