:root {
  --color-white: #ffffff;
  --color-dark: #191919;
  --icon-dark-shade: #666666;
  --h2: #42446e;
  --h4: #666666;
  --card-color: #ffff;
  --p-color: black;
  --icon-contat: #42446e;


  --background: var(--color-white);
  --icon-shade: var(--icon-dark-shade);
}

/* Dark Mode Color Scheme*/
[data-theme="dark"] {
  --color-white: #ffffff;
  --icon-light-shade: #cccccc;
  --color-dark: #191919;
  --h2: #cccccc;
  --h4: #a7a7a7;
  --card-color: #363636;
  --p-color: #cccccc;
  --icon-contat: #cccccc;

  --background: var(--color-dark);
  --icon-shade: var(--icon-light-shade);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}



::-webkit-scrollbar{
  width: 9px;
  
}
::-webkit-scrollbar-track{
  background:var(--color-dark);

  box-shadow: inset 0 0 5px  #e70faa;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(180deg, #13b0f5 -2.06%, #e70faa 100%);
  border-radius: 4px;
  height: 10px;
 
  
  
}
::-webkit-scrollbar-track{

}


.App {
  background: var(--background);
  padding: 0% 7%;
  overflow: hidden;
}

h2 {
  margin: auto;
  font-size: 49px;
  color: var(--h2);
  text-align: center;
}

h4 {
  margin: auto;
  margin-top: 46px;
  font-size: 36px;
  text-align: center;
  color: var(--h4);
}
@media (max-width: 1024px){
  .App{
    padding: 0% 2%;
  }
}