:root {
  --color-white: #ffffff;
  --color-dark: #191919;
  --icon-dark-shade: #666666;
  --h2: #42446e;
  --h4: #666666;
  --card-color: #ffff;
  --p-color: black;

  --background: var(--color-white);
  --icon-shade: var(--icon-dark-shade);
}

/* Dark Mode Color Scheme*/
[data-theme="dark"] {
  --color-white: #ffffff;
  --icon-light-shade: #cccccc;
  --color-dark: #191919;
  --h2: #cccccc;
  --h4: #a7a7a7;
  --card-color: #363636;
  --p-color: #cccccc;

  --background: var(--color-dark);
  --icon-shade: var(--icon-light-shade);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App {
  background: var(--background);
  padding: 0% 7%;
}

h2 {
  margin: auto;
  font-size: 49px;
  color: var(--h2);
  text-align: center;
}

h4 {
  margin: auto;
  margin-top: 46px;
  font-size: 36px;
  text-align: center;
  color: var(--h4);
}
